<section id="login">
    <toaster-container></toaster-container>
    <div class="container">
        <div class="row">
            <div class="login-form login">
                <h2 style="text-align: center !important;
margin: 30px auto;">Change Password</h2>

                <input type="password" ng-model="login.oldpassword" class="form-control" ng-class="allvalidation[0].validation" required placeholder="Currant Password* " />
                
                <input type="password" ng-model="login.newpassword" class="form-control" ng-class="allvalidation[1].validation" required placeholder="New Password *" />
                
                <input type="password" ng-model="login.confirmpassword" class="form-control" ng-class="allvalidation[2].validation" required placeholder="Confirm Password *" />

                <button class="btn form-control" ng-click="changepassword(login)">Submit</button>


            </div>
        </div>
    </div>
</section>