<div class="header-middle" ng-controller="OtherCtrl"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="logo pull-left">
							<a href="#/home"><img ng-src="lib/images/home/logo2.png" style="height:45px;" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
								<form action="#" class="searchform">
                                <input type="text" name="abc" ng-model="search" ng-change="searchlist(search)" placeholder="Search..." style="width:500px;"/>
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right" ng-click="innershearch()"></i></button>
     
                <div id="divsearch" class="searchdrop" ng-show="searchshow">
                    <p ng-repeat="sea in searchdrop" ng-click="totextbox(sea.search,sea.listing)">{{sea.search}}</p>
                </div>
                            </form>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
<!--								<li><a href="#/profile" class="onlycursor"><i class="fa fa-user"></i> My profile </a></li>-->
								<li><a class="onlycursor" ng-click="signupprofile()"><i class="fa fa-user"></i> {{signuppro}}</a></li>
								<li><a class="onlycursor" ng-click="loginfunction()"><i class="fa fa-lock"></i> {{loginlogout}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->