<div class="container">
    <div class="row">
        <div class="col-xs-12">
           <div class="phone" style="text-align: right; margin-top:8px;">
						<a href="#" class="with-symbol mrd10" data-size="" data-position="top-left" data-align="right">
                            <span class="symbol" style="font-size: 27px;"><i class="fa fa-phone"></i>2000 9999</span>
						</a>
					</div>
            <p class="text-center mrt10">
                <a href="#/home"><img ng-src="{{'home/logo2.png'|imagepath1}}" style="height:100px;" /></a>
            </p>
            
        </div>
    </div>
</div>
